<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Bienvenido al gestor de entrevistas de DAW2
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Está diseñado para llevar la cuenta de las entrevistas a las que te has
        inscrito
      </p>
      <p>
        Inicia sesión o regístrate para poder ver y añadir entrevistas
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <button mat-raised-button color="primary" routerLink="/login">
        Inicia sesión
      </button>
      <button mat-raised-button color="accent" routerLink="/register">
        Regístrate!
      </button>
    </mat-card-footer>
  </mat-card>

</div>
