<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="matcard">
    <mat-card-title>
      Regístrate!
    </mat-card-title>
    <mat-card-content>
      <h2>Regístrate con una cuenta de Google</h2>
      <h2></h2>
      <button mat-raised-button appGoogleLogin>
        <img src="/assets/btn_google_signin_light_normal_web.png" /></button>
      <h2></h2>
      <h2>O</h2>
      <h2>Regístrate con tu email y contraseña</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="form-field" [color]="form.value.email.valid && 'accent'">
          <input required matInput formControlName="email" type="email" placeholder="Email" />
          <mat-error *ngIf="form.value.email.invalid && form.value.email.dirty">
            La dirección de email no es válida
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" [color]="form.value.email.valid && 'accent'">
          <input required matInput formControlName="password" type="password" placeholder="Contraseña" />
          <mat-error *ngIf="form.value.password.invalid && form.value.password.dirty">
            La contraseña tiene que tener un mínimo de 8 carácteres
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" [color]="coincidePassword ? 'accent' : 'warn'">
          <input required matInput formControlName="password2" type="password" placeholder="Confima tu contraseña" />
          <mat-error *ngIf="form.value.password2.dirty && !coincidePassword">
            La contraseña no coincide
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit"
          [disabled]="form.invalid || loading || !coincidePassword">
          Registrarse
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
